/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #eee;
    --color-black: #000;

    // Couleurs du projet
    --color-primary: #d63112;
    --color-secondary: #018e42;

    --color-bg-primary: #212121;
}
